@import '~antd/dist/antd.css';

body {
  background-color: #ffffff;
  #root {
    height: 100%;
    .home {
      .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
      }
      .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
      }
      .bread {
        display: inline-block;
      }
      .ant-advanced-search-form {
        padding: 0;
        .ant-form-item {
          display: flex;
          margin: 0;
        }
        .ant-form-item-control-wrapper {
          flex: 1;
        }
      }
      .house-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        padding: 0 24px;
        line-height: 64px;
        .header-title {
          flex: 1 1;
          color: #000;
          font-size: 16px;
          line-height: 24px;
          opacity: .85;
        }
      }
    }
  }
}